<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>about</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/about.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
  </head>

  <body>
    <div class="wrapper">
      <div class="slider">
        <img src="images/about/sl.jpg" />
        <div class="sub-slider">
          <div id="toggle">
            <i class="fas fa-bars" id="bars-icon"></i>
            <i class="fa-solid fa-x" id="x-icon" style="display: none;"></i>
          </div>
          <div class="header-slider">
            <ul>
              <li>
                <a href="#"
                  ><i class="fa-solid fa-location-dot"></i>Silk St, Barbican,
                  London EC2Y 8DS, Uk</a
                >
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-phone"></i>099884736723</a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa-sharp fa-solid fa-envelope"></i
                  >Booking@gmail.com</a
                >
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-sharp fa-solid fa-envelope"></i></a>
              </li>
            </ul>
          </div>

          <div class="header_bottom">
            <div class="container">
              <div class="row">
                <div class="header__bottom-logo">
                  <a href="#"
                    ><img src="images/logo.png" alt="Ảnh logo" class="logo"
                  /></a>
                </div>

                <div class="header__bottom-menu">
                  <ul>
                    <li class="header__bottom-menu-children">
                      <a href="#">HOME</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">ABOUT</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">MENUS</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">PRIVATE DINING</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">BLOG</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">SHOP</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">CONTACT</a>
                      <ul class="subnav">
                        <li><a href="">Contact</a></li>
                        <li><a href="">Reservation</a></li>
                        <li><a href="">Newsletter</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="header__bottom-find">
                  <button class="button">Find a table</button>
                </div>
              </div>
            </div>
          </div>

          <div class="header__bottom-title">
            <h1>ABOUT US</h1>
          </div>
        </div>
        <div class="navbar">
          <div class="fade">

      
          
         <div class="navbar_sub">

        
          <div class="menu">
            <ul>
              <li class="header__bottom-menu-children">
                <a href="#">HOME</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">ABOUT</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">MENUS</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">PRIVATE DINING</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">BLOG</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">SHOP</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">CONTACT</a>
                <ul class="subnav">
                  <li><a href="">Contact</a></li>
                  <li><a href="">Reservation</a></li>
                  <li><a href="">Newsletter</a></li>
                </ul>

          </div>
           <div class="icon">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-sharp fa-solid fa-envelope"></i></a>
           </div>
           <div class="time">
            <div class="title">
              <span>Opening Hours</span>
              <table>
                <tr>
                  <th>Monday - Saturday</th>
                  <td>10:00 - 20:00</td>
                 
                </tr>
                <tr>
                  <th>Sunday</th>
                  <td>11:00 – 19:00</td>
                </tr>

              </table>
            </div>
           </div>
           <div class="contact">
            <div class="title">
              <span>our location</span>
            </div>
            <div class="conten">
              <ul>
                <li>
                  <a href="#"
                    ><i class="fa-solid fa-location-dot"></i>Silk St, Barbican,
                    London EC2Y 8DS, Uk</a
                  >
                </li>
                <li>
                  <a href="#"><i class="fa-solid fa-phone"></i>099884736723</a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa-sharp fa-solid fa-envelope"></i
                    >Booking@gmail.com</a
                  >
                </li>
               
              </ul>
            </div>
           </div>

        </div>
      </div>
      </div>
      </div>

      <!-- main -->
      <div class="demo">
        <div class="demo-container">
          <div class="row">
            <div class="demo-left">
              <img src="images/about/p1.jpg" />
            </div>
            <div class="demo-center">
              <div class="title">
                <div class="pt-subtitle-wrap">
                  <span class="pt-subtitle"
                    >WELCOME TO PATIO.TIME TEA HOUSE</span
                  >
                  <h2 class="pt-title">THE GREAT TEA PARTY</h2>

                  <div class="text-center">
                    <div class="pt-title-text">
                      <p>
                        Introducing the Patio Time Café and Afternoon Tea House,
                        a charmingly elegant café located within The Landmark,
                        5th Avenue flagship store. Inspired by the iconic
                        heritage, we offer three signature culinary experiences
                        for elevated daytime dining.
                      </p>
                    </div>
                    <div class="pt-title-btn">
                      <a href="" class="button"
                        ><span>Explore Our Menu</span></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="demo-right">
              <img src="images/about/p2.jpg" />
            </div>
          </div>
        </div>
      </div>

      <!-- /main -->
      <div class="img-container">
        <div class="image">
          <img src="images/about/p3.jpg" />
        </div>
      </div>

      <!-- detail -->
      <div class="detail">
        <div class="row_detail">
          <div class="product-left">
            <div class="product1">
              <a href=""><img src="images/about/p7.jpg" /></a>

              <div class="infor">
                <div class="infor-title">
                  <span>QUALITY & BALANCE</span>
                </div>
                <h6 class="pt-tittle">OUR FOOD PHILOSOPHY</h6>
                <div class="pt-title-text">
                  <p>
                    Simple and balanced. Delicious and enticing dishes with
                    high-quality ingredients. Alexander Petillo brings together
                    flavors and specialties from Italy and beyond to create his
                    own culinary world, full of surprising artistry.
                  </p>
                </div>
                <div class="pt-title-btn">
                  <a href=""> <span class="pt-btn-text">Book a table</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="product-right">
            <div class="product2">
              <a href=""><img src="images/about/p8.jpg" /></a>

              <div class="infor">
                <div class="infor-title">
                  <span>QUALITY & BALANCE</span>
                </div>
                <h6 class="pt-tittle">AFTERNOON TEA PARTIES</h6>
                <div class="pt-title-text">
                  <p>
                    We are pleased to welcome groups of 10 – 100 guests between
                    12 noon and 5pm for a Royal Afternoon Tea at £70 per person
                    or for a Champagne Afternoon Tea at £90 per person.
                  </p>
                </div>
                <div class="pt-title-btn">
                  <a href=""> <span class="pt-btn-text">Book a table</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="image-container">
        <div class="row">
          <div class="left">
            <img src="images/about/p4.jpg" />
          </div>
          <div class="center">
            <img src="images/about/p5.jpg" />
          </div>
          <div class="right">
            <img src="images/about/p6.jpg" />
          </div>
        </div>
      </div>

      <!-- manu_product -->

      <div class="menu_product">
        <div class="container">
          <div class="title">
            <div class="pt-subtitle-wrap">
              <span class="pt-subtitle">WELCOME TO PATIO.TIME TEA HOUSE</span>
            </div>
          </div>

          <div class="pt-subtitle-wrap">
            <h2 class="pt-title">COME EXPERIENCR</h2>
            <h2 class="pt-title2">THE TASTE OF</h2>
          </div>
          <div class="name-joy">
            <img src="images/joy.png" />
          </div>
        </div>
        <div class="row">
          <ul class="products">
            <li>
              <div class="product-item">
                <a href=""><img src="images/p1.jpg" /></a>
              </div>
              <div class="infor">
                <a href=""><h4>Tea and drink</h4></a>
              </div>
            </li>
            <li class="product_2">
              <div class="product-item">
                <a href=""><img src="images/p2.jpg" /></a>
              </div>
              <div class="infor">
                <a href="#" style="--clr: #1e9bff"><h4>Afternoom Tea</h4></a>
              </div>
            </li>
            <li>
              <div class="product-item">
                <a href=""><img src="images/p3.jpg" /></a>
              </div>
              <div class="infor">
                <a href=""> <h4>Specials Drinks</h4></a>
              </div>
            </li>
            <li class="product_4">
              <div class="product-item">
                <a href=""><img src="images/p4.jpg" /></a>
              </div>
              <div class="infor">
                <a href=""><h4>Desserts</h4></a>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!--morre  -->
      <div class="background">
        <div class="image_background">
          <img src="images/f1.jpg" />
          <div class="fade"></div>
          <div class="title">
            <div class="title-sub">
              <span>ONLINE RESERVATION</span>
              <h2 class="pt-title">BOOK A TABLE</h2>

              <div class="pt_otf_wrap">
                <div class="pt_otf_wrap-box">
                  <div class="person">
                    <div class="field-wrap">
                      <select title="a">
                        <option value="1">1 person</option>
                        <option value="1">2 person</option>
                        <option value="2">3 person</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="pt_otf_wrap-box">
                  <div class="date">
                    <div class="field-wrap">
                      <select>
                        <option value="1">23-8-2022</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="pt_otf_wrap-box">
                  <div class="time">
                    <div class="field-wrap">
                      <select name="a">
                        <option>5:00</option>
                        <option>5:30</option>
                        <option>6:00</option>
                        <option>6:30</option>
                        <option>7:00</option>
                        <option>7:00</option>
                        <option>9:00</option>
                        <option>10:00</option>
                        <option>11:00</option>
                        <option>12:00</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="pt_otf_wrap-submit">
                  <div class="field-wrap">
                    <button type="submit" class="button">
                      <span class="btn-text">Book now</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="footer">
          <div class="row1">
            <div class="address">
              <h5>ADDRESS</h5>
              <a href=""
                >72 Madison Avenue <br />
                New York, NY 10016</a
              >
            </div>
            <div class="address">
              <h5>CONTACT</h5>
              <a href=""
                >info@patiotimetea.com <br />
                (212) 555-6767</a
              >
            </div>
            <div class="address">
              <h5>HOUSE</h5>
              <p>
                MON-SAT: 10am – 8pm <br />
                SUN: 11am – 7pm
              </p>
            </div>
            <div class="address">
              <h5>SOCIAL</h5>
              <div class="contact">
                <div class="contact-sub">
                  <a href="">Facebook</a>
                  <a href="">Instagram</a>
                </div>
                <div class="contact-sub">
                  <a href="">Twitter</a>
                  <a href="">Pinterest</a>
                </div>
              </div>
            </div>
            <div class="address">
              <h5>NEWSLATTER</h5>
              <div class="button">
              <button>SIGN UP ME</button>
              </div>
            </div>
          </div>
          <div class="row2">
            <div class="footer-bottom">
              <div class="left">
                <p>©2023 PATIO.TIME AFTERNOON TEAHOUSE</p>
              </div>
              <div class="right">
                <nav>
                  <ul>
                    <li><a href="">PRIVACY</a></li>
                    <li><a href="">JOIN E-CLUB</a></li>
                    <li><a href="">CAREER</a></li>
                    <li><a href="">TERMS OF USE</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script src="./style.js"></script>
</html>
