<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>patiotime.loftocean.com</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      id="google-fonts-1-css"
      href="https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CCormorant+Garamond%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;display=swap&amp;ver=6.4.2"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      id="patiotime-theme-google-fonts-css"
      href="https://fonts.googleapis.com/css?family=Cormorant+Garamond%3A100italic%2C200italic%2C300italic%2C400italic%2C500italic%2C600italic%2C700italic%2C800italic%2C100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%7CJost%3A400%2C100italic%2C200italic%2C300italic%2C400italic%2C500italic%2C600italic%2C700italic%2C800italic%2C100%2C200%2C300%2C500%2C600%2C700%2C800&amp;display=swap&amp;ver=2023120401"
      type="text/css"
      media="all"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  </head>

  <body>
    <div class="wrapper">
      
      <div class="slider">
        <img src="images/slider.jpg" />
 
            <!-- <img src="images/f1.jpg" class="slide" alt="" />
               <img src="images/d2.jpg" class="slide" alt="" /> -->
              
        <div class="sub-slider">

          <div id="toggle">
            <i class="fas fa-bars" id="bars-icon"></i>
            <i class="fa-solid fa-x" id="x-icon" style="display: none;"></i>
          </div>
          
          <div class="header-slider">
            <ul>
              <li>
                <a href="#"
                  ><i class="fa-solid fa-location-dot"></i>Silk St, Barbican,
                  London EC2Y 8DS, Uk</a
                >
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-phone"></i>099884736723</a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa-sharp fa-solid fa-envelope"></i
                  >Booking@gmail.com</a
                >
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-sharp fa-solid fa-envelope"></i></a>
              </li>
            </ul>
          </div>

          <div class="header_bottom">
            <div class="container">
              <div class="row">
                <div class="header__bottom-logo">
                  <a href="#"
                    ><img src="images/logo.png" alt="Ảnh logo" class="logo"
                  /></a>
                </div>

                <div class="header__bottom-menu">
                  <ul>
                    <li class="header__bottom-menu-children">
                      <a href="#">HOME</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">ABOUT</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">MENUS</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">PRIVATE DINING</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">BLOG</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">SHOP</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">CONTACT</a>
                      <ul class="subnav">
                        <li><a href="">Contact</a></li>
                        <li><a href="">Reservation</a></li>
                        <li><a href="">Newsletter</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="header__bottom-find">
                  <button class="button">Find a table</button>
                </div>
              </div>
            </div>
          </div>

          <div class="header__bottom-title">
            <h1>FOOD FROM<br />HEART.MADE<br />WITH LOVE</h1>
            <h2>-------ENJOY EACH BITE-------</h2>
          </div>
        </div>

        <div class="navbar">
          <div class="fade">

      
          
         <div class="navbar_sub">

        
          <div class="menu">
            <ul>
              <li class="header__bottom-menu-children">
                <a href="#">HOME</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">ABOUT</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">MENUS</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">PRIVATE DINING</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">BLOG</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">SHOP</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">CONTACT</a>
                <ul class="subnav">
                  <li><a href="">Contact</a></li>
                  <li><a href="">Reservation</a></li>
                  <li><a href="">Newsletter</a></li>
                </ul>

          </div>
           <div class="icon">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-sharp fa-solid fa-envelope"></i></a>
                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
           </div>
           <div class="time">
            <div class="title">
              <span>Opening Hours</span>
              <table>
                <tr>
                  <th>Monday - Saturday</th>
                  <td>10:00 - 20:00</td>
                 
                </tr>
                <tr>
                  <th>Sunday</th>
                  <td>11:00 – 19:00</td>
                </tr>

              </table>
            </div>
           </div>
           <div class="contact">
            <div class="title">
              <span>our location</span>
            </div>
            <div class="conten">
              <ul>
                <li>
                  <a href="#"
                    ><i class="fa-solid fa-location-dot"></i>Silk St, Barbican,
                    London EC2Y 8DS, Uk</a
                  >
                </li>
                <li>
                  <a href="#"><i class="fa-solid fa-phone"></i>099884736723</a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa-sharp fa-solid fa-envelope"></i
                    >Booking@gmail.com</a
                  >
                </li>
               
              </ul>
            </div>
           </div>

        </div>
      </div>
      </div>



      </div>

      <!-- main -->

      <div class="main">
        <div class="container">
          <div class="elementor-row">
            <div class="elementor-row_left">
              <div class="elementor-widget-container">
                <div class="pt-title-wrap">
                  <div class="pt-subtitle-wrap">
                    <span class="pt-subtitle"
                      >WELCOME TO PATIO.TIME TEA HOUSE</span
                    >
                  </div>
                  <div class="name_pt-subtitle">
                    <div class="name_pt-subtitle_left">
                      <h2 class="pt-subtitle">
                        COME & MEET <br/>AT PATIO.TIME
                      </h2>
                    </div>
                    <div class="name_pt-subtitle_right">
                      <img src="images/us.png" />
                    </div>
                  </div>

                  <div class="pt-title-text">
                    <p>
                      Introducing the Patio Time Café and Afternoon Tea House, a
                      charmingly elegant café located within The Landmark, 5th
                      Avenue flagship store. Inspired by the iconic heritage, we
                      offer three signature culinary experiences for elevated
                      daytime dining.
                    </p>
                  </div>

                  <div class="pt-title-btn">
                    <p>DISCOVER OUR CONCEPT</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="elementor-row_right">
              <div class="elementor-widget-wrap">
                <img src="images/main-1.jpg" />
                <div class="elementor">
                  <div class="elementor-image">
                    <img src="images/main-2.jpg" />
                  </div>
                  <div class="elementor-image2">
                    <img src="images/main-3.jpg" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- /main -->

      <!-- manu_product -->

      <div class="menu_product">
        <div class="container">
          <div class="title">
            <div class="pt-subtitle-wrap">
              <span class="pt-subtitle">WELCOME TO PATIO.TIME TEA HOUSE</span>
            </div>
          </div>

          <div class="pt-subtitle-wrap">
            <h2 class="pt-title">COME EXPERIENCR</h2>
            <h2 class="pt-title2">THE TASTE OF</h2>
          
              <!-- <img src="images/joy.png" />
          -->
          </div>
        </div>

        
          <ul class="products">
            <li>
              <div class="product-item">
                <a href=""><img src="images/p1.jpg" /></a>
              </div>
              <div class="infor">
                <a href="">
                  <h4>Tea and drink</h4>
                </a>
              </div>
            </li>
            <li class="product_2">
              <div class="product-item">
                <a href=""><img src="images/p2.jpg" /></a>
              </div>
              <div class="infor">
                <a href="#" style="--clr: #1e9bff">
                  <h4>Afternoom Tea</h4>
                </a>
              </div>
            </li>
            <li>
              <div class="product-item">
                <a href=""><img src="images/p3.jpg" /></a>
              </div>
              <div class="infor">
                <a href="">
                  <h4>Specials Drinks</h4>
                </a>
              </div>
            </li>
            <li class="product_4">
              <div class="product-item">
                <a href=""><img src="images/p4.jpg" /></a>
              </div>
              <div class="infor">
                <a href="">
                  <h4>Desserts</h4>
                </a>
              </div>
            </li>
          </ul>
       

      </div>

      <!-- /manu_product -->

      <div class="pander">
        <div class="image-pander">
          <img src="images/main-1.jpg" alt="">
        </div>
          <div class="row_pander">
            <div class="row_pander-left">
              <div class="content">
            <div class="title">
              <div class="pt-subtitle-wrap">
                <span class="pt-subtitle">WELCOME TO PATIO.TIME TEA HOUSE</span>
              </div>
  
              <div class="pt-subtitle-wrap-center">
                <h2 class="pt-title">Fresh Seasonal</h2>
                <h2 class="pt-title2">Menus</h2>
              </div>
              <div class="content-small">
                <p>
                  We use fresh, organic ingredients that are locally produced and
                  sourced. <br />
                  Whether it’s drinks, snacks or meals, our light and seasonal
                  menu features <br class="row_conten-finnal" />
                  French-inspired New York classics.
                </p>
              </div>
  
              <div class="content-small-footer">
                <a href="#"><span>Discover More</span></a>
              </div>
            </div>
          </div> 
  
           
            </div>
            <div class="row_pander-right">
              <img src="images/pander.jpg" />
            </div>
          </div>
       
       

      
      </div>

      <!-- detail -->
      <div class="detail">
        <div class="menu_detail">
          <div class="container">
            <div class="title">
              <div class="pt-subtitle-wrap">
                <span class="pt-subtitle">WELCOME TO PATIO.TIME TEA HOUSE</span>
                <h2 class="pt-title">INTRODUCING SUMMER</h2>
                <h2 class="pt-title2">SPECIAL FRUIT</h2>
                <img src="images/tea.png" />
              </div>
            </div>
          </div>
          <div class="detail-1">
            <div class="image_detail">
              <img src="images/d1.jpg" />
            </div>

            <div class="infor">
              <div class="info-sub">
                <div class="subtitle-wrap">
                  <span class="pt-subtitle">SUMMER SPECIAL DRINK #1</span>
                </div>
                <div class="subtitle-wrap">
                  <h4>ICED PASSION FRUIT GREEN TEA</h4>
                  <div class="info-text">
                    <p>
                      Lime juice , green tea, honey/sugar, iced <br />
                      water and peach puree.
                    </p>
                  </div>
                  <div class="infor-extra">
                    <span class="info-lable">Medium cup</span>
                    <span class="info-content">$6.5</span>
                  </div>
                  <div class="infor-extra">
                    <span class="info-lable">Large cup</span>
                    <span class="info-content">$9.5</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- d2 -->
          <div class="detail-1 reverse">
            <div class="image_detail">
              <img src="images/d1.jpg" />
            </div>

            <div class="infor left">
              <div class="info-sub">
                <div class="subtitle-wrap">
                  <span class="pt-subtitle">SUMMER SPECIAL DRINK #2</span>
                </div>
                <div class="subtitle-wrap">
                  <h4>SUMMER BREEZE OF PASSION</h4>
                  <div class="info-text">
                    <p>
                      Lime juice , green tea, honey/sugar, iced <br />
                      water and peach puree.
                    </p>
                  </div>
                  <div class="infor-extra">
                    <span class="info-lable">Medium cup</span>
                    <span class="info-content">$6.5</span>
                  </div>
                  <div class="infor-extra">
                    <span class="info-lable">Large cup</span>
                    <span class="info-content">$9.5</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- d3 -->

          <div class="detail-1">
            <div class="image_detail">
              <img src="images/d1.jpg" />
            </div>

            <div class="infor">
              <div class="info-sub">
                <div class="subtitle-wrap">
                  <span class="pt-subtitle">SUMMER SPECIAL DRINK #3</span>
                </div>
                <div class="subtitle-wrap">
                  <h4>FRUIT PARADISE SANGRIA</h4>
                  <div class="info-text">
                    <p>
                      Lime juice , green tea, honey/sugar, iced <br />
                      water and peach puree.
                    </p>
                  </div>
                  <div class="infor-extra">
                    <span class="info-lable">Medium cup</span>
                    <span class="info-content">$6.5</span>
                  </div>
                  <div class="infor-extra">
                    <span class="info-lable">Large cup</span>
                    <span class="info-content">$9.5</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- more drink -->

      <div class="more_drink">
        <div class="title">
          <div class="pt-subtitle-wrap">
            <span class="pt-subtitle">WELCOME TO PATIO.TIME TEA HOUSE</span>
            <h2 class="pt-title">MORE THAN</h2>
            <h2 class="pt-title2">DRINKS</h2>
            <img src="images/just.png" />

            <div class="text-center">
              <div class="pt-title-text">
                <p>
                  Simple and balanced. Alexander Petillo brings together <br />
                  flavors and specialties from Italy and beyond to create his
                  <br />own culinary world, full of surprising artistry.
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="list-product_drink">
          <div class="list-product_drink-row">
            <div class="more_1">
              <div class="infor">
                <img src="images/m1.jpg" />
                <div class="title-name">
                  <h4 class="pt-title">ARUGULA SALAD</h4>
                </div>
                <div class="pt-title-text">
                  <p>$18</p>
                </div>
                <div class="pt-title-ingredient">
                  <p>Ricotta, goat cheese, beetroot and <br />datterini.</p>
                </div>
              </div>
            </div>
            <div class="more_2">
              <div class="infor">
                <img src="images/m2.jpg" />
                <div class="title-name">
                  <h4 class="pt-title">CROISSANT</h4>
                </div>
                <div class="pt-title-text">$18</div>
                <div class="pt-title-ingredient">
                  <p>
                    Classic french croissants, freeze-dried <br />
                    strawberries, frosting.
                  </p>
                </div>
              </div>
            </div>
            <div class="more_3">
              <div class="infor">
                <img src="images/m3.jpg" />
                <div class="title-name">
                  <h4 class="pt-title">SPRING SALAD</h4>
                </div>
                <div class="pt-title-text">$20</div>
                <div class="pt-title-ingredient">
                  <p>
                    Cherry tomatoes, mozzarella, toast and <br />
                    sweet peas.
                  </p>
                </div>
              </div>
            </div>
            <div class="more_4">
              <div class="infor">
                <img src="images/m4.jpg" />
                <div class="title-name">
                  <h4 class="pt-title">LE CREPE</h4>
                </div>
                <div class="pt-title-text">$17</div>
                <div class="pt-title-ingredient">
                  <p>
                    Crepe, cream, vanilla and fresh <br />
                    strawberry slices
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /more drink -->

      <div class="background">
        <div class="image_background">
          <img src="images/f1.jpg" />
          <div class="fade"></div>
          <div class="title">
            <div class="title-sub">
              <span>ONLINE RESERVATION</span>
              <h2 class="pt-title">BOOK A TABLE</h2>

              <div class="pt_otf_wrap">
                <div class="pt_otf_wrap-box">
                  <div class="person">
                    <div class="field-wrap">
                      <select title="a">
                        <option value="1">1 person</option>
                        <option value="1">2 person</option>
                        <option value="2">3 person</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="pt_otf_wrap-box">
                  <div class="date">
                    <div class="field-wrap">
                      <select>
                        <option value="1">23-8-2022</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="pt_otf_wrap-box">
                  <div class="time">
                    <div class="field-wrap">
                      <select name="a">
                        <option>5:00</option>
                        <option>5:30</option>
                        <option>6:00</option>
                        <option>6:30</option>
                        <option>7:00</option>
                        <option>7:00</option>
                        <option>9:00</option>
                        <option>10:00</option>
                        <option>11:00</option>
                        <option>12:00</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="pt_otf_wrap-submit">
                  <div class="field-wrap">
                    <button type="submit" class="button">
                      <span class="btn-text">Book now</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <footer>
        <div class="footer">
          <div class="row1">
            <div class="address">
              <h5>ADDRESS</h5>
              <a href=""
                >72 Madison Avenue <br />
                New York, NY 10016</a
              >
            </div>
            <div class="address">
              <h5>CONTACT</h5>
              <a href=""
                >info@patiotimetea.com <br />
                (212) 555-6767</a
              >
            </div>
            <div class="address">
              <h5>HOUSE</h5>
              <p>
                MON-SAT: 10am – 8pm <br />
                SUN: 11am – 7pm
              </p>
            </div>
            <div class="address">
              <h5>SOCIAL</h5>
              <div class="contact">
                <div class="contact-sub">
                  <a href="">Facebook</a>
                  <a href="">Instagram</a>
                </div>
                <div class="contact-sub">
                  <a href="">Twitter</a>
                  <a href="">Pinterest</a>
                </div>
              </div>
            </div>
            <div class="address">
              <h5>NEWSLATTER</h5>
              <div class="button">
              <button>SIGN UP ME</button>
              </div>
            </div>
          </div>
          <div class="row2">
            <div class="footer-bottom">
              <div class="left">
                <p>©2023 PATIO.TIME AFTERNOON TEAHOUSE</p>
              </div>
              <div class="right">
                <nav>
                  <ul>
                    <li><a href="">PRIVACY</a></li>
                    <li><a href="">JOIN E-CLUB</a></li>
                    <li><a href="">CAREER</a></li>
                    <li><a href="">TERMS OF USE</a></li>
                  </ul>
                </nav>
              </div>
            </div>

          </div>
        </div>
      </footer>
    </div>
  </body>

  <script src="./style.js"></script>
 
  
</html>
