<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>private dining</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <link rel="stylesheet" type="text/css" href="css/private-dining.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
  </head>

  <body>
    <div class="wrapper">
      <div class="slider">
        <img src="images/private_dining/slider.jpg" />
        <div class="sub-slider">
          
          <div id="toggle">
            <i class="fas fa-bars" id="bars-icon"></i>
            <i class="fa-solid fa-x" id="x-icon" style="display: none;"></i>
          </div>
          <div class="header-slider">
            <ul>
              <li>
                <a href="#"
                  ><i class="fa-solid fa-location-dot"></i>Silk St, Barbican,
                  London EC2Y 8DS, Uk</a
                >
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-phone"></i>099884736723</a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa-sharp fa-solid fa-envelope"></i
                  >Booking@gmail.com</a
                >
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-sharp fa-solid fa-envelope"></i></a>
              </li>
            </ul>
          </div>

          <div class="header_bottom">
            <div class="container">
              <div class="row">
                <div class="header__bottom-logo">
                  <a href="#"
                    ><img src="images/logo.png" alt="Ảnh logo" class="logo"
                  /></a>
                </div>

                <div class="header__bottom-menu">
                  <ul>
                    <li class="header__bottom-menu-children">
                      <a href="#">HOME</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">ABOUT</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">MENUS</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">PRIVATE DINING</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">BLOG</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">SHOP</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">CONTACT</a>
                      <ul class="subnav">
                        <li><a href="">Contact</a></li>
                        <li><a href="">Reservation</a></li>
                        <li><a href="">Newsletter</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="header__bottom-find">
                  <button class="button">Find a table</button>
                </div>
              </div>
            </div>
          </div>

          <div class="header__bottom-title">
            <h1>PRIVATE DINING</h1>
          </div>
        </div>
        <div class="navbar">
          <div class="fade">

      
          
         <div class="navbar_sub">

        
          <div class="menu">
            <ul>
              <li class="header__bottom-menu-children">
                <a href="#">HOME</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">ABOUT</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">MENUS</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">PRIVATE DINING</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">BLOG</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">SHOP</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">CONTACT</a>
                <ul class="subnav">
                  <li><a href="">Contact</a></li>
                  <li><a href="">Reservation</a></li>
                  <li><a href="">Newsletter</a></li>
                </ul>

          </div>
           <div class="icon">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-sharp fa-solid fa-envelope"></i></a>
                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
           </div>
           <div class="time">
            <div class="title">
              <span>Opening Hours</span>
              <table>
                <tr>
                  <th>Monday - Saturday</th>
                  <td>10:00 - 20:00</td>
                 
                </tr>
                <tr>
                  <th>Sunday</th>
                  <td>11:00 – 19:00</td>
                </tr>

              </table>
            </div>
           </div>
           <div class="contact">
            <div class="title">
              <span>our location</span>
            </div>
            <div class="conten">
              <ul>
                <li>
                  <a href="#"
                    ><i class="fa-solid fa-location-dot"></i>Silk St, Barbican,
                    London EC2Y 8DS, Uk</a
                  >
                </li>
                <li>
                  <a href="#"><i class="fa-solid fa-phone"></i>099884736723</a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa-sharp fa-solid fa-envelope"></i
                    >Booking@gmail.com</a
                  >
                </li>
               
              </ul>
            </div>
           </div>

        </div>
      </div>
      </div>

      </div>

      <!-- main -->

      <div class="main">
        
        <div class="left">
            <div class="conten">
                <span class="pt-subtitle">Hosting a celebratory occasion</span>
                <div class="name_pt-subtitle">
                    
                      <h2 class="pt-subtitle">
                        OUR PRIVATE DINING ROOM
                      </h2>
                  
                  </div>

                  <div class="pt-title-text">
                    <p>
                        Whether it is a business banquet, birthday party, rehearsal dinner or wedding reception, reserve our private dining room for a bespoke set menu experience.

                    </p>
                    <p>Enjoy an intimate and bespoke experience for up to 12 guests in the private dining room at Patio Time Tea House. Interested in hosting a celebration? We look forward to hearing from you.
                    </p>
                  </div>
                  <div class="image-left">
                    <img src="images/private_dining/1.jpg" alt="">
                  </div>

            </div>

        </div>
        <div class="right">
            <div class="conten">
                <div class="image-right">
                    <img src="images/private_dining/2.jpg" alt="">
                </div>
            </div>

        </div>
      </div>
     
      <!-- /main -->

      <!-- datphong -->
      <div class="main2">
        <div class="main2-sub">
        <div class="left">
            <div class="image-left">
                <img src="images/private_dining/4.jpg" alt="">
            </div>

        </div>
        <div class="right">
            <div class="image-right">
                <img src="images/private_dining/3.jpg" alt="">
            </div>

            <div class="infor">
              <div class="menu-infor">
                <div class="infor_adress">
                <span class="pt-title">PLEASE FILL THE FORM BELOW</span>
                  <h2 class="pt-subtitle">RESERVE YOUR EVENT</h2>
    
                </div>
                <div class="row1">
                  <div class="field-wrap">
                    <select title="a">
                      <option value="1">1 person</option>
                      <option value="1">2 person</option>
                      <option value="2">3 person</option>
                    </select>
                  </div>
                  <div class="field-wrap">
                    <select>
                      <option value="1">23-8-2022</option>
                    </select>
                  </div>
                  <div class="field-wrap">
                    <select name="a">
                      <option>5:00</option>
                      <option>5:30</option>
                      <option>6:00</option>
                      <option>6:30</option>
                      <option>7:00</option>
                      <option>7:00</option>
                      <option>9:00</option>
                      <option>10:00</option>
                      <option>11:00</option>
                      <option>12:00</option>
                    </select>
                  </div>



                </div>
             
                  <div class="row">
                    
                    <input type="text" name="username" placeholder="Your Name">
                    <input type="text" id="username" name="username" placeholder="Your Email">
                    <input type="text" id="username" name="username" placeholder="Subject"> 
                    
                  </div>
                  
                  <div class="messenger">
                    <textarea name="messenger" id="messenger" cols="30" rows="6" placeholder="Your Mesenger"></textarea>
                   
                 </div>
                  <div class="pt-title-btn">
                    <a href="" class="button"><span class="pt-btn-text">MAKE A RESERVATION</span></a>
                  </div>
    
    
                </div>
              </div>
    
            </div>
          </div>


        </div>
     
      </div>
      <!-- /datphong -->

      <!-- footer -->

      <div class="background">
        <div class="image_background">
          <img src="images/f1.jpg" />
          <div class="fade"></div>
          <div class="title">
            <div class="title-sub">
              <span>ONLINE RESERVATION</span>
              <h2 class="pt-title">BOOK A TABLE</h2>

              <div class="pt_otf_wrap">
                <div class="pt_otf_wrap-box">
                  <div class="person">
                    <div class="field-wrap">
                      <select title="a">
                        <option value="1">1 person</option>
                        <option value="1">2 person</option>
                        <option value="2">3 person</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="pt_otf_wrap-box">
                  <div class="date">
                    <div class="field-wrap">
                      <select>
                        <option value="1">23-8-2022</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="pt_otf_wrap-box">
                  <div class="time">
                    <div class="field-wrap">
                      <select name="a">
                        <option>5:00</option>
                        <option>5:30</option>
                        <option>6:00</option>
                        <option>6:30</option>
                        <option>7:00</option>
                        <option>7:00</option>
                        <option>9:00</option>
                        <option>10:00</option>
                        <option>11:00</option>
                        <option>12:00</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="pt_otf_wrap-submit">
                  <div class="field-wrap">
                    <button type="submit" class="button">
                      <span class="btn-text">Book now</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer -->
      <footer>
        <div class="footer">
          <div class="row1">
            <div class="address">
              <h5>ADDRESS</h5>
              <a href=""
                >72 Madison Avenue <br />
                New York, NY 10016</a
              >
            </div>
            <div class="address">
              <h5>CONTACT</h5>
              <a href=""
                >info@patiotimetea.com <br />
                (212) 555-6767</a
              >
            </div>
            <div class="address">
              <h5>HOUSE</h5>
              <p>
                MON-SAT: 10am – 8pm <br />
                SUN: 11am – 7pm
              </p>
            </div>
            <div class="address">
              <h5>SOCIAL</h5>
              <div class="contact">
                <div class="contact-sub">
                  <a href="">Facebook</a>
                  <a href="">Instagram</a>
                </div>
                <div class="contact-sub">
                  <a href="">Twitter</a>
                  <a href="">Pinterest</a>
                </div>
              </div>
            </div>
            <div class="address">
              <h5>NEWSLATTER</h5>
              <button>SIGN UP ME</button>
            </div>
          </div>
          <div class="row2">
            <div class="footer-bottom">
              <div class="left">
                <p>©2023 PATIO.TIME AFTERNOON TEAHOUSE</p>
              </div>
              <div class="right">
                <nav>
                  <ul>
                    <li><a href="">PRIVACY</a></li>
                    <li><a href="">JOIN E-CLUB</a></li>
                    <li><a href="">CAREER</a></li>
                    <li><a href="">TERMS OF USE</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- footer -->
    </div>
  </body>
  <script src="./style.js"></script>
</html>
