<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Shop</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/shop.css" />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
  </head>

  <body>
    <div class="wrapper">
      <div class="slider">
        <img src="images/shop/slider.jpg" />
        <div class="sub-slider">
          
          <div id="toggle">
            <i class="fas fa-bars" id="bars-icon"></i>
            <i class="fa-solid fa-x" id="x-icon" style="display: none;"></i>
          </div>
          <div class="header-slider">
            <ul>
              <li>
                <a href="#"
                  ><i class="fa-solid fa-location-dot"></i>Silk St, Barbican,
                  London EC2Y 8DS, Uk</a
                >
              </li>
              <li>
                <a href="#"><i class="fa-solid fa-phone"></i>099884736723</a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa-sharp fa-solid fa-envelope"></i
                  >Booking@gmail.com</a
                >
              </li>
              <li>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-sharp fa-solid fa-envelope"></i></a>
              </li>
            </ul>
          </div>

          <div class="header_bottom">
            <div class="container">
              <div class="row">
                <div class="header__bottom-logo">
                  <a href="#"
                    ><img src="images/logo.png" alt="Ảnh logo" class="logo"
                  /></a>
                </div>

                <div class="header__bottom-menu">
                  <ul>
                    <li class="header__bottom-menu-children">
                      <a href="#">HOME</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">ABOUT</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">MENUS</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">PRIVATE DINING</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">BLOG</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">SHOP</a>
                    </li>
                    <li class="header__bottom-menu-children">
                      <a href="#">CONTACT</a>
                      <ul class="subnav">
                        <li><a href="">Contact</a></li>
                        <li><a href="">Reservation</a></li>
                        <li><a href="">Newsletter</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="header__bottom-find">
                  <button class="button">Find a table</button>
                </div>
              </div>
            </div>
          </div>

          <div class="header__bottom-title">
            <h1>SHOP</h1>
          </div>
        </div>
        <div class="navbar">
          <div class="fade">

      
          
         <div class="navbar_sub">

        
          <div class="menu">
            <ul>
              <li class="header__bottom-menu-children">
                <a href="#">HOME</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">ABOUT</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">MENUS</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">PRIVATE DINING</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">BLOG</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">SHOP</a>
              </li>
              <li class="header__bottom-menu-children">
                <a href="#">CONTACT</a>
                <ul class="subnav">
                  <li><a href="">Contact</a></li>
                  <li><a href="">Reservation</a></li>
                  <li><a href="">Newsletter</a></li>
                </ul>

          </div>
           <div class="icon">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-sharp fa-solid fa-envelope"></i></a>
                <a href="#"><i class="fa-brands fa-pinterest"></i></a>
           </div>
           <div class="time">
            <div class="title">
              <span>Opening Hours</span>
              <table>
                <tr>
                  <th>Monday - Saturday</th>
                  <td>10:00 - 20:00</td>
                 
                </tr>
                <tr>
                  <th>Sunday</th>
                  <td>11:00 – 19:00</td>
                </tr>

              </table>
            </div>
           </div>
           <div class="contact">
            <div class="title">
              <span>our location</span>
            </div>
            <div class="conten">
              <ul>
                <li>
                  <a href="#"
                    ><i class="fa-solid fa-location-dot"></i>Silk St, Barbican,
                    London EC2Y 8DS, Uk</a
                  >
                </li>
                <li>
                  <a href="#"><i class="fa-solid fa-phone"></i>099884736723</a>
                </li>
                <li>
                  <a href="#"
                    ><i class="fa-sharp fa-solid fa-envelope"></i
                    >Booking@gmail.com</a
                  >
                </li>
               
              </ul>
            </div>
           </div>

        </div>
      </div>
      </div>

      </div>

      <!-- main -->

      <div class="main">
        <div class="container">
          <ul class="products">
            <li>
              <div class="product-item">
                <div class="product-top">
                  <a href="" class="product-thumb">
                    <img src="images/shop/p1.jpg" />
                  </a>
                  <a href="" class="buy-now">Thêm vào giỏ</a>
                </div>

                <div class="product-info">
                  <a href="">
                    <h2 class="product-name">Fruit Paradise Sangria</h2>
                  </a>
                  <div class="product-price">$18.00</div>
                </div>
              </div>
            </li>
            <li>
              <div class="product-item">
                <div class="product-top">
                  <a href="" class="product-thumb">
                    <img src="images/shop/p6.jpg" />
                  </a>
                  <a href="" class="buy-now">Thêm vào giỏ</a>
                </div>

                <div class="product-info">
                  <a href="">
                    <h2 class="product-name">Green Tea Leaves</h2>
                  </a>
                  <div class="product-price">$18.00</div>
                </div>
              </div>
            </li>
            <li>
              <div class="product-item">
                <div class="product-top">
                  <a href="" class="product-thumb">
                    <img src="images/shop/p2.jpg" />
                  </a>
                  <a href="" class="buy-now">Thêm vào giỏ</a>
                </div>

                <div class="product-info">
                  <a href="">
                    <h2 class="product-name">Nuoc cam</h2>
                  </a>
                  <div class="product-price">$18.00</div>
                </div>
              </div>
            </li>
            <li>
              <div class="product-item">
                <div class="product-top">
                  <a href="" class="product-thumb">
                    <img src="images/shop/p3.jpg" />
                  </a>
                  <a href="" class="buy-now">Thêm vào giỏ</a>
                </div>

                <div class="product-info">
                  <a href="">
                    <h2 class="product-name">Herbal Tea Leaves</h2>
                  </a>
                  <div class="product-price">$18.00</div>
                </div>
              </div>
            </li>
            <li>
              <div class="product-item">
                <div class="product-top">
                  <a href="" class="product-thumb">
                    <img src="images/shop/p4.jpg" />
                  </a>
                  <a href="" class="buy-now">Thêm vào giỏ</a>
                </div>

                <div class="product-info">
                  <a href="">
                    <h2 class="product-name">Summer Breeze of Passion</h2>
                  </a>
                  <div class="product-price">$18.00</div>
                </div>
              </div>
            </li>
            <li>
              <div class="product-item">
                <div class="product-top">
                  <a href="" class="product-thumb">
                    <img src="images/shop/p5.jpg" />
                  </a>
                  <a href="" class="buy-now">Thêm vào giỏ</a>
                </div>

                <div class="product-info">
                  <a href="">
                    <h2 class="product-name">Iced Passion Fruit  Green Tea</h2>
                  </a>
                  <div class="product-price">$18.00</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- main -->
      <div class="background">
        <div class="image_background">
          <img src="images/f1.jpg" />
          <div class="fade"></div>
          <div class="title">
            <div class="title-sub">
              <span>ONLINE RESERVATION</span>
              <h2 class="pt-title">BOOK A TABLE</h2>

              <div class="pt_otf_wrap">
                <div class="pt_otf_wrap-box">
                  <div class="person">
                    <div class="field-wrap">
                      <select title="a">
                        <option value="1">1 person</option>
                        <option value="1">2 person</option>
                        <option value="2">3 person</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="pt_otf_wrap-box">
                  <div class="date">
                    <div class="field-wrap">
                      <select>
                        <option value="1">23-8-2022</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="pt_otf_wrap-box">
                  <div class="time">
                    <div class="field-wrap">
                      <select name="a">
                        <option>5:00</option>
                        <option>5:30</option>
                        <option>6:00</option>
                        <option>6:30</option>
                        <option>7:00</option>
                        <option>7:00</option>
                        <option>9:00</option>
                        <option>10:00</option>
                        <option>11:00</option>
                        <option>12:00</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="pt_otf_wrap-submit">
                  <div class="field-wrap">
                    <button type="submit" class="button">
                      <span class="btn-text">Book now</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- /main -->
      <!-- footer -->
      <footer>
        <div class="footer">
          <div class="row1">
            <div class="address">
              <h5>ADDRESS</h5>
              <a href=""
                >72 Madison Avenue <br />
                New York, NY 10016</a
              >
            </div>
            <div class="address">
              <h5>CONTACT</h5>
              <a href=""
                >info@patiotimetea.com <br />
                (212) 555-6767</a
              >
            </div>
            <div class="address">
              <h5>HOUSE</h5>
              <p>
                MON-SAT: 10am – 8pm <br />
                SUN: 11am – 7pm
              </p>
            </div>
            <div class="address">
              <h5>SOCIAL</h5>
              <div class="contact">
                <div class="contact-sub">
                  <a href="">Facebook</a>
                  <a href="">Instagram</a>
                </div>
                <div class="contact-sub">
                  <a href="">Twitter</a>
                  <a href="">Pinterest</a>
                </div>
              </div>
            </div>
            <div class="address">
              <h5>NEWSLATTER</h5>
              <button>SIGN UP ME</button>
            </div>
          </div>
          <div class="row2">
            <div class="footer-bottom">
              <div class="left">
                <p>©2023 PATIO.TIME AFTERNOON TEAHOUSE</p>
              </div>
              <div class="right">
                <nav>
                  <ul>
                    <li><a href="">PRIVACY</a></li>
                    <li><a href="">JOIN E-CLUB</a></li>
                    <li><a href="">CAREER</a></li>
                    <li><a href="">TERMS OF USE</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script src="./style.js"></script>
</html>
